## Question 1

Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included).
The numbers obtained should be printed in a comma-separated sequence on a single line

In [ ]:
for i in range(2000,3200):
    if i%5==0:
        continue
    elif i%7==0 and i%5!=0:
        print(i,end=',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

## Question 2:
Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program:
8
Then, the output should be:
40320

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
def factorial(n):
    n=int(n)
    result=1
    if n==1:
        result=1
    else:
        for i in range(1,n+1):
            result=result*i
    return result

n=input("input number:")
result= factorial(n)
print(result)

## Question 3:
With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:
8
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.
Consider use dict()

In [ ]:
def createdict(n):
    n=int(n)
    my_dict={}
    for i in range(1,n+1):
        my_dict[i]=i*i
        print(i,':',my_dict[i],end=',')

In [ ]:
n=input("input number:")
result= createdict(n)
print(result)

input number: 8

1 : 1,2 : 4,3 : 9,4 : 16,5 : 25,6 : 36,7 : 49,8 : 64,None

## Question 4:
Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
Suppose the following input is supplied to the program:
34,67,55,33,12,98
Then, the output should be:
['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.
tuple() method can convert list to tuple

In [ ]:
def List_tup(n):
    w=n.split(',')
    print(w)
    t= tuple(w)
    print(t)

n=input("input number:")
result= List_tup(n)
print(result)

5,10,15
['5', '10', '15']
('5', '10', '15')

##Question 5:
Define a class which has at least two methods:
getString: to get a string from console input
printString: to print the string in upper case.
Also please include simple test function to test the class methods.

Hints:
Use _init_ method to construct some parameters

### Question 6
Level 2
Question:
Write a program that calculates and prints the value according to the given formula:
Q = Square root of [(2 * C * D)/H]
Following are the fixed values of C and H:
C is 50. H is 30.
D is the variable whose values should be input to your program in a comma-separated sequence.
Example
Let us assume the following comma separated input sequence is given to the program:
100,150,180
The output of the program should be:
18,22,24
Hints:
If the output received is in decimal form, it should be rounded off to its nearest value (for example, if the output received is 26.0, it should be printed as 26)
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
def formula(input):

  Listt=input.split(',')
  Listt=list(map(int,Listt))
  C=50
  H=30
  for D in Listt:
    Q=pow((2*C*D)/H,2)
    print(int(Q),end=',')

n=input("input number:")
formula(n)

input number:100,150,180
111111,250000,360000,

### Question 7
Level 2
Question:
Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.
Note: i=0,1.., X-1; j=0,1,¡­Y-1.
Example
Suppose the following inputs are given to the program:
3,5
Then, the output of the program should be:
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]
Hints:
Note: In case of input data being supplied to the question, it should be assumed to be a console input in a comma-separated form.

In [ ]:
# prompt: Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array

def twoD_array(x,y):
  arr = [[0 for i in range(y)] for j in range(x)]
  for i in range(x):
    for j in range(y):
      arr[i][j] = i * j
  for i in range(x):
    print(arr[i])

x,y = map(int, input().split(","))
twoD_array(x,y)

3,5
[0, 0, 0, 0, 0]
[0, 1, 2, 3, 4]
[0, 2, 4, 6, 8]

### Question 8
Level 2
Question:
Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.
Suppose the following input is supplied to the program:
without,hello,bag,world
Then, the output should be:
bag,hello,without,world
Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
x=input('Get the string')
lists=x.split(',')
lists.sort()
print(lists)

Get the stringhasan,umer,abdullah
['abdullah', 'hasan', 'umer']

### Question 9
Level 2
Question£º
Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized.
Suppose the following input is supplied to the program:
Hello world
Practice makes perfect
Then, the output should be:
HELLO WORLD
PRACTICE MAKES PERFECT
Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
lines=[]
while True:
  l=input('enter a line')
  if l:
    lines.append(l.upper())
  else:
    break
for i in lines:
    print(i)

enter a linemy name is
enter a linehasan
enter a line
MY NAME IS
HASAN

### Question 10
Level 2
Question:
Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.
Suppose the following input is supplied to the program:
hello world and practice makes perfect and hello world again
Then, the output should be:
again and hello makes perfect practice world
Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.
We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [ ]:
x=input('Get the string')
lists=x.split(' ')
my_set=set(lists)
lists=list(my_set)
lists.sort()
for i in lists:
  print(i,end=' ')

Get the stringmy name is hasan
hasan is my name

### Question 11
Level 2
Question:
Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence.
Example:
0100,0011,1010,1001
Then the output should be:
1010
Notes: Assume the data is input by console.
Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
x=input('Get the string')
lists=x.split(',')
for i in lists:
  if len(i)<4:
    print('input 4 digit numbers')
    break
  elif int(i)%5==0:
    print(i,end=',')

Get the string0100,0011,1010,1001
0100,1010,

### Question 12
Level 2
Question:
Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number.
The numbers obtained should be printed in a comma-separated sequence on a single line.
Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
x,y = map(int, input().split(","))
for i in range(x,y+1):
  if all(int(z)%2==0 for z in str(i)):
    print(i,end=',')

1000,5222
2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888,4000,4002,4004,4006,4008,4020,4022,4024,4026,4028,4040,4042,4044,4046,4048,4060,4062,4064,4066,4068,4080,4082,4084,4086,4088,4200,4202,4204,4206,4208,4220,4222,4224,4226,4228,4240,4242,4244,4246,4248,4260,4262,4264,4266,4268,4280,4282,4284,4286,4288,4400,4402,4404,4406,4408,4420,4422,4424,4426,4428,4440,4442,4444,4446,4448,4460,4462,4464,4466,4468,4480,4482,4484,4486,4488,4600,4602,4604,4606,4608,4620,4622,4624,4626,4628,4640,4642,4644,4646,4648,4660,4662,4664,4666,4668,4680,4682,4684,4686,4688,4800,4802,4804,4806,4808,4820,4822,4824,4826,4828,4840,4842,4844,4846,4848,4860,4862,4864,4866,4868,4880,4882,4884,4886,4888,

### Question 13
Level 2
Question:
Write a program that accepts a sentence and calculate the number of letters and digits.
Suppose the following input is supplied to the program:
hello world! 123
Then, the output should be:
LETTERS 10
DIGITS 3
Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
x=input('Get the string')
lists=x.split(' ')
digit=0
character=0
for i in lists:
  for x in str(i):
    if x.isnumeric():
      digit=digit+1
    else:
      character=character+1
print('LETTERS',character,'DIGITS',digit)

Get the stringgdt 33
LETTERS 3 DIGITS 2

### Question 14
Level 2
Question:
Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters.
Suppose the following input is supplied to the program:
Hello world!
Then, the output should be:
UPPER CASE 1
LOWER CASE 9
Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
x=input('Get the string')
lists=x.split(' ')
upper=0
lower=0
for i in lists:
  for x in str(i):
    if x.isupper():
      upper=upper+1
    elif x.islower():
      lower=lower+1
print('Uppercase',upper,'lower',lower)

Get the stringmy NaMe
Uppercase 2 lower 4

### Question 15
Level 2
Question:
Write a program that computes the value of a+aa+aaa+aaaa with a given digit as the value of a.
Suppose the following input is supplied to the program:
9
Then, the output should be:
11106
Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
a = int(input())
print(a + int(str(a) + str(a)) + int(str(a) + str(a) + str(a)) + int(str(a) + str(a) + str(a) + str(a)))

9
11106

### Question 16
Level 2
Question:
Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers.
Suppose the following input is supplied to the program:
1,2,3,4,5,6,7,8,9
Then, the output should be:
1,3,5,7,9
Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
x=input('Get the list')
lists=x.split(',')
newlist = [x for x in lists if int(x)%2!=0]
for i in newlist:
  print(i,end=',')

Get the list1,2,3,4,5
1,3,5,

### Question 17
Level 2
Question:
Write a program that computes the net amount of a bank account based a transaction log from console input. The transaction log format is shown as following:
D 100
W 200
D means deposit while W means withdrawal.
Suppose the following input is supplied to the program:
D 300
D 300
W 200
D 100
Then, the output should be:
500
Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
balance = 0
while True:
  transaction = input()
  if transaction:
    if transaction[0] == 'D':
      balance += int(transaction[2:])
    elif transaction[0] == 'W':
      balance -= int(transaction[2:])
  else:
    break
print(balance)

D 400
W 50

350

### Question 18
Level 3
Question:
A website requires the users to input username and password to register. Write a program to check the validity of password input by users.
Following are the criteria for checking the password:
1. At least 1 letter between [a-z]
2. At least 1 number between [0-9]
1. At least 1 letter between [A-Z]
3. At least 1 character from [$#@]
4. Minimum length of transaction password: 6
5. Maximum length of transaction password: 12
Your program should accept a sequence of comma separated passwords and will check them according to the above criteria. Passwords that match the criteria are to be printed, each separated by a comma.
Example
If the following passwords are given as input to the program:
ABd1234@1,a F1#,2w3E*,2We3345
Then, the output of the program should be:
ABd1234@1
Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
import re
x=input('Get the string')
lists=x.split(',')
for i in lists:
  if len(i)>=6 and len(i)<=12:
    if re.search('[a-z]',i):
      if re.search('[A-Z]',i):
        if re.search('[0-9]',i):
          if re.search('[$#@]',i):
            print(i,end=',')

Get the stringhdsd,dsed3

### Question 19
Level 3
Question:
You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is:
1: Sort based on name;
2: Then sort based on age;
3: Then sort by score.
The priority is that name > age > score.
If the following tuples are given as input to the program:
Tom,19,80
John,20,90
Jony,17,91
Jony,17,93
Json,21,85
Then, the output of the program should be:
[('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]
Hints:
In case of input data being supplied to the question, it should be assumed to be a console input.
We use itemgetter to enable multiple sort keys.

In [ ]:
from operator import itemgetter

people_info = []
while True:
    individual_info = input()

    if individual_info == "":
        break
    else:
        people_info.append(tuple(individual_info.split(',')))
people_info.sort(key =  itemgetter(0, 1, 2))
print(people_info)

tom,19,80
John,20,90
Jony,17,91
Jony,17,93
Json,21,85

[('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('tom', '19', '80')]

### Question 20
Level 3
Question:
Define a class with a generator which can iterate the numbers, which are divisible by 7, between a given range 0 and n.
Hints:
Consider use yield

### Question 21
Level 3
Question
A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps. The trace of robot movement is shown as the following:
UP 5
DOWN 3
LEFT 3
RIGHT 2
¡­
The numbers after the direction are steps. Please write a program to compute the distance from current position after a sequence of movement and original point. If the distance is a float, then just print the nearest integer.
Example:
If the following tuples are given as input to the program:
UP 5
DOWN 3
LEFT 3
RIGHT 2
Then, the output of the program should be:
2

In [ ]:
import math

x, y = 0, 0

while True:
    step = input("Type in UP/DOWN/LEFT/RIGHT #step number: ")

    if step == "":
        break

    else:
        step = step.split(" ")

        if step[0] == "UP":
            y = y + int(step[1])
        elif step[0] == "DOWN":
            y = y - int(step[1])
        elif step[0] == "LEFT":
            x = x - int(step[1])
        elif step[0] == "RIGHT":
            x = x + int(step[1])

c = int(math.sqrt(pow(x,2) + pow(y,2)))

print("Distance:", c)

Type in UP/DOWN/LEFT/RIGHT #step number: UP 5
Type in UP/DOWN/LEFT/RIGHT #step number: DOWN 3
Type in UP/DOWN/LEFT/RIGHT #step number: LEFT 3
Type in UP/DOWN/LEFT/RIGHT #step number: RIGHT 2
Type in UP/DOWN/LEFT/RIGHT #step number:
Distance: 2

### Question 22
Level 3
Question:
Write a program to compute the frequency of the words from the input. The output should output after sorting the key alphanumerically.
Suppose the following input is supplied to the program:
New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3.
Then, the output should be:
2:2
3.:1
3?:1
New:1
Python:5
Read:1
and:1
between:1
choosing:1
or:2
to:1
Hints
In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
import operator

text_line = input("Type in: ")

freq_dict = {}

for i in text_line.split(' '):
    if i.isalpha():
        if i not in freq_dict:
            freq_dict[i] = 1
        elif i in freq_dict:
            freq_dict[i] = freq_dict[i] + 1
    else:
        continue

sorted_freq_dict = sorted(freq_dict.items(), key = operator.itemgetter(0))
print(sorted_freq_dict)

for i in sorted_freq_dict:
    print(i[0], i[1])

Type in: New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3.
[('New', 1), ('Python', 5), ('Read', 1), ('and', 1), ('between', 1), ('choosing', 1), ('or', 2), ('to', 1)]
New 1
Python 5
Read 1
and 1
between 1
choosing 1
or 2
to 1

### Question 23
level 1
Question:
Write a method which can calculate square value of number
Hints:
Using the ** operator

In [ ]:
def square(a):
    return a ** 2